<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zhangwx.z_utils">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Z_RecycleView.RecycleActivity" />
        <activity android:name=".Z_ViewPager.ViewPagerActivity" />
        <activity android:name=".Z_Thread.HandlerThreadActivity" />
        <activity android:name=".Z_TouchEvent.TouchTestActivity" />
        <activity android:name=".Z_Window.WindowActivity" />
        <activity android:name=".Z_Reflect.ReflectActivity" />
        <activity android:name=".Z_Intent.IntentActivity" />
        <activity android:name=".Z_DB.DataBaseActivity" />
        <activity android:name=".Z_Permission.AppSettingsDialogHolderActivity" />
        <activity android:name=".Z_Permission.bridge.RequestBridgeActivity" />
        <activity
            android:name=".Z_Intent.NotificationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GuideAlpha" />
        <activity android:name=".Z_ListView.ListViewActivity" />
        <activity android:name=".Z_Widget.WidgetTestActivity" />
        <activity android:name=".Z_retrofit.RetrofitTestActivity" />
        <activity android:name=".Z_Processor.ProcessorActivity" />

        <activity
            android:name=".Z_Components.ComponentsActivity"
            android:launchMode="singleInstance" />

        <activity android:name=".Z_LifeCycle.LifeCycleActivity" />
        <activity android:name=".Z_LifeCycle.LifeCycleTestActivity" />
        <activity android:name=".Z_Bitmap.BitmapTestActivity" />
        <activity android:name=".Z_Cache.LruCacheActivity" />
        <activity android:name=".Z_EventBus.EventBusActivity" />
        <activity android:name=".Z_EventBus.EventBus2Activity" />
        <activity android:name=".Z_ScreenFix.ScreenFixActivity" />
        <activity android:name=".Z_AIDL.AidlClientActivity" />
        <activity android:name=".Z_Webview.WebViewTestActivity" />
        <activity android:name=".Z_Anima.AnimationTestActivity" />

        <service
            android:name=".Z_Window.WindowService"
            android:process=":locker" />

        <service
            android:name=".Z_Intent.NotificationListener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:process=":service">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service android:name=".Z_Intent.NotificationGuideService" />
        <service android:name=".Z_retrofit.loadfile.ApkLoadService" />
        <service
            android:name=".Z_Components.JobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".Z_AIDL.RemoteServer"
            android:process=":service"/>

        <provider
            android:name=".Z_DB.UserInfoContentProvider"
            android:authorities="${applicationId}.provider" />
        <provider
            android:name=".Z_DB.datedb.CorpusTestProvider"
            android:authorities="${applicationId}.ULCorpusProvider" />

    </application>

</manifest>